$seafoam: #C4DFE6;
$deepAqua: #003B46;
$ocean: #07575B;
$wave: #66A5AD;
$textWhite: #f3f2ff;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $seafoam;
}

.header {
  text-align: center;
  background-color: $deepAqua;
  height: 75px;
  h1 {
    font-family: 'Norwester';
    height: 100%;
    color: $textWhite;
    text-shadow: 2px 2px black;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;  
      height: 100%; 
    }
  }
}

.navbar {
  text-align: center;
  background-color: $ocean;
  li {
    font-size: 1.1em;
    color: $textWhite;
    display: inline-block;
    margin-left: 15px;
    padding: .3em;
  }
}

.posting {
  padding: 0em 40em 0em 40em;
  h1 {
  }
  h4 {
    padding: 0 0 .3em 2em
  }
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;

  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;

    .public-DraftEditorPlaceholder-root,
    .public-DraftEditor-content {
      margin: 0 -15px -15px;
      padding: 15px;
    }

    .public-DraftEditor-content {
      min-height: 100px;
    }

    .RichEditor-blockquote {
      border-left: 5px solid #eee;
      color: #666;
      font-family: 'Hoefler Text', 'Georgia', serif;
      font-style: italic;
      margin: 16px 0;
      padding: 10px 20px;
    }

    .public-DraftStyleDefault-pre {
      background-color: rgba(0, 0, 0, 0.05);
      font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
      font-size: 16px;
      padding: 20px;
    }
  }

  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }

  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }

  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }

  .RichEditor-activeButton {
    color: #5890ff;
  }
}
.button {
  marginTop: 10;
  textAlign: 'center';
}
